.idea/
.vscode/
.DS_Store
.env

/volumes/gateway/nginx-proxy-manager/*
!/volumes/gateway/nginx-proxy-manager/.gitkeep
!/volumes/gateway/nginx-proxy-manager/custom
/volumes/media/plex/*
!/volumes/media/plex/.gitkeep
/volumes/media/dev_common/media/movies/*
!/volumes/media/dev_common/media/movies/.gitkeep
/volumes/media/dev_common/media/serials/*
!/volumes/media/dev_common/media/serials/.gitkeep
/volumes/media/dev_common/torrents/movies/*
!/volumes/media/dev_common/torrents/movies/.gitkeep
/volumes/media/dev_common/torrents/serials/*
!/volumes/media/dev_common/torrents/serials/.gitkeep
/volumes/media/dev_common/torrents/complete
/volumes/media/dev_common/torrents/incomplete
/volumes/logs-server/prometheus/cadvisor.yml
/volumes/logs-server/prometheus/node-exporter.yml

